body, p{
    text-align: center;
}

table{
    text-align: center;
}
table,tr,td{         
    border: 2px solid black;
    margin-top: 10px;
    margin: auto;
    border-collapse:collapse ;
    background-color: white;
}
td{
    text-align: center;
    width: 100px;
    height: 80px;
}

a{ 
    background-color: aquamarine;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: red;
}

p{
    padding: 10px;
    font-size: 30px;
}